.main{
  background-color: #F6F5F1;
}

.title-content {
  width: 100vw;
  /* background-image: url('backimage.jpg'); */
  background-color: #1F6F8B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.main-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);

}

.item-img {
  width: 40vh;
  height: 40vh;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  overflow: scroll;
}


.item-img-content {
  position: relative;
}

.item-img-content p {
  position: absolute;/*絶対配置*/
  color: red;/*文字は白に*/
  top: 0;
  left: 0;
  }

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
    background-color: #F6F5F1;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.navbar{
  display: block;
  justify-content: right;
}

.search-box{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.articles-lists{
  display: flex;
  justify-content: center;
}

.articles-title{
  display: flex;
  justify-items: center;
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}
.articles-title:before,
.articles-title:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.articles-title:before {
  left: 0;
}

.articles-title:after {
  right: 0;
}


 .item-name{
  position: relative;
  padding: 0.6em;
  background: #e0edff;
  text-decoration: none;
 }
 .item-name:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
  text-decoration: none;
}

 .backgraoud-blue{
  text-decoration: none;
  width: 180px;
  height: 70px;
  margin: 10px;
 }

 .backgraoud-ore{
  text-decoration: none;
  width: 100px;
  height: 70px;
  margin: 10px;
 }
 .backgraoud-pink{
  text-decoration: none;
  width: 180px;
  height: 70px;
  margin: 10px;
 }

 .article-name{
  position: relative;
  padding: 0.6em;
  background: #D0F0D0;
  text-decoration: none;
 }
 .article-name:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #D0F0D0;
  width: 0;
  height: 0;
  text-decoration: none;
}

.menu-bar{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}

.menu-lists{
  display: flex;
  justify-content: space-around;
  
  padding: 20px;
  width: 70%;
  height: 30px;
  font-size: 30px;

}
